<!DOCTYPE html>
<html>
    <head>
        <title>Gem Garden's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Gem Garden's blog</a></h1>
        </header>

        <article>
            <time>published: 23.03.2024, 17:00</time>
            <h2><a href="">Benvenut@ nel blog dell'antico podere della famiglia Orlandi dal 1624</a></h2>
            <p>Ciao!
                Sono Natalia e con altri contributor teniamo vivo il blog del podere, 
                raccontandoti le avventure che potrai vivere in questo ettaro naturale nel cuore dell'Emilia!</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </article>
        <footer>Creatd by Natalia Orlandi</footer>
    </body>
</html>