<!DOCTYPE html>
<html>
    <head>
        <title>Gem Garden's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Gem Garden's Blog</a></h1>
        </header>

        <article>
            <time>published: 23.03.2024, 17:00</time>
            <h2><a href="">Benvenut@ nel blog dell'antico podere della famiglia Orlandi dal 1624</a></h2>
            <p>Ciao!
                Sono Natalia e con altri contributor teniamo vivo il blog del podere, 
                raccontandoti le avventure che potrai vivere in questo ettaro naturale nel cuore dell'Emilia!</p>
        </article>
        
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}


        <footer>Created by Natalia Orlandi</footer>
    </body>
</html>